{
  "printWidth": 120,               
  "htmlWhitespaceSensitivity": "ignore", 
  "singleQuote": true,            
  "bracketSameLine": true,       
  "semi": false,                    
  "jsxSingleQuote": true,          
  "endOfLine": "lf",                
  "arrowParens": "avoid"           
}
