.datepicker {
  @apply min-w-[18.125rem];
  &-main-month {
    @apply bg-white pb-2;
    &:last-child{
      padding-bottom: 0;
    }
  }
  &-header {
    @apply text-base font-medium text-Gray-900 sticky top-0 bg-white pt-1;
    .month-name {
      @apply px-3;
    }
    .days-of-week {
      @apply grid grid-cols-7;
      .dow {
        @apply text-xs font-semibold text-center text-Gray-600 p-3;
      }
    }
  }
  &-main {
    @apply max-h-[19.375rem] overflow-auto;
  }
  .days {
   
    .datepicker-grid {
      @apply grid grid-cols-7;
      .datepicker-cell {
        @apply cursor-pointer inline-flex items-center justify-center text-xs p-3 font-bold text-center text-Gray-900 transition-colors;
        @media (any-hover: hover){
          &:not(.range-start, .range-finish, .selected, .focused):hover{
            @apply bg-Gray-100;
          }
        }
        &:not(.range-start, .range-finish) {
          @apply rounded-lg;
        }
        &.focused {
          @apply bg-primary-600 text-white rounded-lg;
        }
        &.selected {
          @apply bg-primary-600 text-white rounded-lg;
        }
        &.next, &.prev {
          @apply text-Gray-600;
        }
        &.range-start {
          @apply rounded-l-lg rounded-r-none bg-primary-600 text-white;
        }
        &.range {
          @apply bg-primary-100 !rounded-none text-Gray-900;
        }
        &.range-finish {
          @apply rounded-r-lg rounded-l-none bg-primary-600 text-white;
        }
      }
    }
  }
}
.datepicker-inline {
}
.active {
}
.datepicker-picker {
}
.datepicker-header {
}
.datepicker-title {
}
.datepicker-controls {
}
.button {
}
.prev-button {
}
.prev-btn {
}
.view-switch {
}
.next-button {
}
.next-btn {
}
.datepicker-main {
}
.datepicker-view {
}
.days {
}
.days-of-week {
}
.dow {
}
.datepicker-grid {
}
.datepicker-cell {
}
.day {
}
.prev {
}
.focused {
}
.next {
}
.datepicker-footer {
}
.today-button {
}
.today-btn {
}
.clear-button {
}
.clear-btn {
}
