::-webkit-scrollbar {
  width: .375rem;
  height: .375rem;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded-lg;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-600/50;
}

// .table-type-one * {
//   outline: 1px solid red;
// }


.table-type-one {
  @apply relative border-b border-l border-t rounded-lg;
  &__body {
    @apply relative bg-Gray-100;
    @media (any-hover: hover){
      &::-webkit-scrollbar-track {
        @apply bg-white;
      }
      &::-webkit-scrollbar-thumb {
        @apply bg-transparent;
      }
      &:hover{
        &::-webkit-scrollbar-track {
          @apply bg-Gray-100;
        }
        &::-webkit-scrollbar-thumb {
          @apply bg-gray-400;
        }
        &::-webkit-scrollbar-thumb:hover {
          @apply bg-primary-600/50;
        }
      }
    }
  }
  .header-row {
    width: calc(100% - 3px);
    min-width: 100%;
    @apply bg-gray-50 min-h-12 !z-20 sticky top-0  min-w-fit ;
    &.header-table-line-left {
      & > .table-line {
        @apply justify-start;
      }
    }
    & > .table-line {
      @apply border-r  truncate min-h-8 whitespace-nowrap sm:px-6 px-5 justify-center py-2 flex items-center text-xs text-gray-700 font-medium;
      & > div {
        // @apply ;
      }
    }
  }
  .table-row {
    width: calc(100% - 3px);
    min-width: 100%;
    @apply flex min-h-12 transition-colors min-w-fit ;
    &.content-self-start {
      .table-line > div {
        @apply self-start;
      }
    }
    @media (any-hover: hover){
      &:hover{
        .table-line {
          @apply bg-Gray-200 border-Gray-300;
         
        }
        .hide-actions {
          @apply opacity-100 relative pointer-events-auto;
        }
      }
    }
    &.focused {
      .table-line {
        @apply bg-Gray-200 border-Gray-300;
       
      }
      .hide-actions {
        @apply opacity-100 relative pointer-events-auto;
      }
    }
    .hide-actions {
      @apply opacity-0 absolute pointer-events-none;
    }
    & > .table-line {
     
      @apply border-r bg-white overflow-hidden border-t justify-center min-h-10 sm:px-6 px-2 justify-center py-2 flex items-center sm:text-sm text-xs text-Gray-900 font-medium;
      & > div > a {
        @apply line-clamp-3;
      }
    
      &:not(.resizable) {
        & > div > a {
          @apply line-clamp-3;
        }
        &> div > p {
          @apply line-clamp-2;
        }
      }
      &.nowrap {
        & > div > a {
          @apply whitespace-nowrap;
        }
        &> div > p {
          @apply whitespace-nowrap;
        }
      }
      // &:not(.nowrap) {
      //   & > div > a {
      //     @apply whitespace-nowrap;
      //   }
      //   &> div > p {
      //     @apply whitespace-nowrap;
      //   }
      // }
    }
  }
}
.tippy-content {
  padding: 0 !important;
}

.shadow-block {
  span {
    @apply shadow-2xl;
  }
}

.shadow-content {

  position: sticky;
}
